@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.link {
  display: flex;
  flex-direction: column;

  .link-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    #twitter__link,
    #btn__zuri,
    #books,
    #book__python,
    #pitch,
    #book__design {
      text-decoration: none;
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      margin: 1rem auto;
      padding-block: 1.5rem;
      color: #101828;
      text-align: center;
      width: 80%;
      background: #eaecf0;
      border-radius: 8px;

      @media screen and (max-width: 1020px) {
        width: 95%;
      }

      @media screen and (max-width: 480px) {
        width: 90%
      }
    }
  }

  .link-logo {
    width: 5%;
    margin: 1em auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width: 1020px){
      width: 15%;
      margin: 1em auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
